<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex">
    <h1 class="flex-grow-1 fa-solid fa-film mx-3"></h1>
    <%= link_to "My lists", root, class: "nav-link mx-2" %>
    <%= link_to "New list", new_list_path, class: "nav-link mx-2" %>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
